* {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

#app {
  height: 100vh;
  width: 100vw;
}

.allProj {
  overflow-y: auto;
}

.taskContainer {
  overflow-y: auto;
}

.topBarContainer {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.topBar {
  background-color: #ed9521;
  color: white;
  text-align: center;
  width: 40%;
  height: 3rem;
  border-bottom-right-radius: 40px;
  border-bottom-left-radius: 40px;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
}

.topBar p {
  margin: 0;
  font-size: 200%;
  font-weight: bold;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  align-self: center;
  justify-self: center;
}

.appBody {
  padding: 5%;
}

.projCard {
  display: flex;
  justify-content: space-between;
}

.titleDiv {
  display: flex;
}

.taskControls {
  display: flex;
  justify-content: space-between;
}

#expandButton {
  border: 0;
  background: transparent;
  align-self: center;
}

#deleteProjButton {
  border: 0;
  background: transparent;
  align-self: center;
}

#backButton {
  border: 0;
  background: transparent;
  align-self: center;
}

#deleteButton {
  border: 0;
  background: transparent;
  align-self: center;
  color: darkred;
}

#addButton {
  position: absolute;
  bottom: 10%;
  right: 10%;
  margin: 0;
  background-color: #17d44a;
  color: white;
  border-radius: 100%;
  aspect-ratio: 1/1;
  width: 4.5rem;
  font-size: 150%;
  cursor: pointer;
  outline: none;
  border: 0;
}

#checkButton {
  border: 0;
  outline: none;
  cursor: pointer;
  background: transparent;
}

#checkButton.done {
  color: darkblue;
}

#popupForm {
  position: absolute;
  top: 50%;
  bottom: 50%;
  z-index: 9;
  width: 50%;
  height: 60%;
}

#popupForm.hidden {
  display: none;
}

#popupForm form {
  display: block;
}

#submitForm {
  background-color: #17d44a;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  aspect-ratio: 1/1;
  margin: 0;
  text-align: center;
  border: 0;
}

#closeForm {
  background-color: red;
  color: white;
  border-radius: 100%;
  cursor: pointer;
  aspect-ratio: 1/1;
  margin: 0;
  text-align: center;
  border: 0;
}

.titleDiv p {
  font-size: 1.5rem;
  font-weight: bold;
  padding-left: 5%;
}

.projCard {
  display: flex;
  flex-flow: row;
  align-items: space-between;
  gap: 5%;
}

.taskLeft {
  display: flex;
  flex-flow: row nowrap;
}

.descContainer {
  display: none;
}

.descContainer.visible {
  display: block;
}
